/*GOOGLE FONT*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:wght@400;500;700&display=swap");

/*GLOBAL*/

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}

/*QUIZ-SELECT*/

.quiz-select {
  background-image: url("../assets/q-b-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.quiz-select form {
  text-align: center;
  padding: 50px;
  background: #f6fcfd;
  display: inline-block;
  margin-top: 50px;
  box-shadow: rgba(124, 139, 139, 0.5) 0 2px 5px 0;
}

.quiz-select form div {
  margin: 0 auto;
  margin-bottom: 30px;
}

/*inputs*/

/*Disables arrows for input with type number*/
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */

.custom-select {
  width: 350px;
  position: relative;
}

.custom-num {
  width: 350px;
}

.custom-num input {
  width: 320px;
}

select,
.numQ {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #0f1111;
  cursor: pointer;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
}

.numQ {
  padding-right: 10px;
}

select:hover,
.numQ:hover {
  background-color: #f7f6f6;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 50%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 65%;
}

/*buttons*/

.btn {
  background-color: #fff;
  border: 1px solid #cbcccc;
  color: #0f1111;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 1.15rem;
  padding: 5px 10px 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.btn:hover {
  background-color: #f7f6f6;
}

.btn:focus {
  border-color: #bdc4c5;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

/*QUIZZ*/

.quiz {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.quiz h2 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  color: #f7f6f6;
}

.quiz .answers {
  display: flex;
  flex-direction: column;
}

.quiz .answer {
  display: inline-block;
  min-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.quiz .answer label {
  border: 2px solid #bdc4c5;
  text-align: center;
  display: block;
  padding: 20px 10px;
  cursor: pointer;
  background-color: #fff;
}

.quiz .answer label:hover {
  background-color: #f7f6f6;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
}

.quiz .answer input {
  display: none;
}

/*correct and wrong answers*/

.correct {
  border-color: rgb(133, 206, 25) !important;
}

.wrong {
  border-color: rgb(187, 29, 29) !important;
}

/*MODAL*/
.modal {
  border: 1px black solid;
  padding: 10px;
  width: 30%;
  height: 60%;
  text-align: center;
  background: #f6fcfd;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
}

.modal h2,
.modal p,
.modal button {
  color: #0f1111;
}

.modal button {
  width: 150px;
  height: 50px;
  font-size: 1rem;
}

/*background*/

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/q-b-1.jpg");
}

.background-9 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-9.jpg");
}

.background-11 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-11.jpg");
}

.background-12 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-12.jpg");
}

.background-14 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-14.jpg");
}

.background-15 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-15.jpg");
}

.background-20 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-20.jpg");
}

.background-21 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-21.jpg");
}

.background-22 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-22.jpg");
}

.background-23 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-23.jpg");
}

.background-27 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-27.jpg");
}

.background-31 {
  background-image: linear-gradient(
      rgba(58, 57, 57, 0.527),
      rgba(54, 52, 52, 0.5)
    ),
    url("../assets/b-31.jpg");
}

/*SPINNER*/

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
